<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>