{{> header}}
<header>
    <h1 class="greetings"></h1>
</header>

<div id="content">

        <p class="status"></p>

    <div id="box">

    </div>
    <div class="input">
    <label for="msg">Enter Message :</label><br/>
    <textarea name="msg" id="msg" class="msg"></textarea>
    <a class="send" href="#">Send</a>
    </div>
</div>

<footer>
    <h3>thanks for dropping by !</h3>
</footer>
{{> footer}}