$bluish = #026399
$text = #ffffff
body
  background #eeeeee
  font Roboto, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
  max-width 650px
  margin auto
  box-shadow 0 0 10px 1px rgba(97, 87, 87, 0.43)

header
  background $bluish
  color $text
  padding 10px
  height 50px
  border-bottom 2px solid rgba(20, 110, 160, 0.93)

footer
  background $bluish
  color $text
  height 40px
  padding 2px;
  h3
    font-size 12px
    float right

#content
  min-height 400px
  padding 0 20px
  background #ffffff
  position relative

#box
  background $text
  min-height 320px
  max-height 320px
  font-size 14px
  overflow-y auto
  margin 5px

.input
  position relative

.msg
  margin 10px 0
  height 60px
  width 82%

.send
  text-decoration none
  text-align center
  background $bluish
  color $text
  height 30px
  width 50px
  padding 10px
  font-size 1.3em
  position absolute
  right 3%
  top 22%;
  box-shadow 0 0 5px rgba(0, 0, 0, 0.31)

.send:hover
  color rgba(0, 0, 0, 0.69)
  background whitesmoke
  box-shadow 0 0 5px rgba(0, 0, 0, 0.31)

.status
  position absolute
  top 35%
  left 40%
  font-size 1.4em

.ok
  color #008000

.error
  color #ff0000

